<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registration.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito" />
</head>
<body>
    <div class="content">
        <div class="logo-text">School chat</div>
        <form class="form" method="POST">
            <div class="form-content-wrapper">
                <div class="h2-tip">Регистрация</div>
                <div class="inp1">
                    <input type="text" name="nickname" class="input" placeholder="Имя" id="inp1">
                </div>
                <div class="inp2">
                    <input type="email" name="email" class="input" placeholder="E-mail" id="inp2">
                </div>
                <div class="inp3">
                    <input type="password" name="password" class="input" placeholder="Пароль" id="inp3">
                </div>
                <div class="text-href">Регистрируясь, вы принимаете<span> <a href="license" class="href"> Условия лицензионного договора</a></span></div>
                <input type="submit" class="submit-btn primary-btn" value="Создать аккаунт">
            </div>
            <div class="footer footer-wrapper">
                <div class="text-href">Уже есть аккаунт? <span> <a href="/login" class="href"> Войдите</a></span></div>
            </div>
        </form>
    </div>
    <script>
        const inputs = [document.getElementById("inp1"),
            document.getElementById("inp2"),
            document.getElementById("inp3")
        ];
        const errors = {{errors|safe}}
        const values = {{values|safe}}
        let elem;
        for (let i in [0, 1, 2]) {
            elem = inputs[i]
            elem.value = values[i]
        }
        for (let error of errors) {
            elem = document.getElementById("inp" + error[0])
            elem.classList.add("incorrect-input")
            elem_wrap = document.querySelector(".inp" + error[0])
            elem_wrap.classList.add("incorrect-input-wrap")
            elem_wrap.setAttribute("data-title", error[1])
        }
    </script>
</body>
</html>